* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.todo-app-container {
	min-height: 100vh;
	padding: 10px;
	background: #faf9f9;
}

.todo-app {
	margin: auto;
	margin-top: 30px;
	padding: 2rem;
	background: #ffd6ba;
	border-radius: 0.25rem;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	max-width: 32rem;
	color: #555b6e;
}

h2 {
	font-size: 24px;
	font-weight: bold;
	margin: 0;
}

.todo-input {
	width: 100%;
	border: none;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	padding: 14px;
	font-size: 16px;
	margin-top: 16px;
	background: #faf9f9;
}

.todo-list {
	margin-top: 32px;
}

.todo-item-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 24px;
}

.todo-item {
	display: flex;
	align-items: center;
	flex: 1;
	font-size: 18px;
	margin-right: 24px;
}

.todo-item-label {
	margin-left: 16px;
}

.todo-item-label:hover {
	font-weight: bolder;
}

.todo-item-input {
	margin-left: 8px;
	width: 100%;
	border: none;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	padding: 4px 6px;
	font-size: 18px;
	background: #faf9f9;
	color: #555b6e;
}

.line-through {
	text-decoration: line-through;
}

.x-button {
	background: #ffd6ba;
	color: #89b0ae;
	border: none;
	cursor: pointer;
}

.x-button:hover {
	color: #555b6e;
}

.x-button-icon {
	width: 1.5rem;
	height: 1.5rem;
}

.checkbox {
	background: #faf9f9;
}

.no-todos-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 24px;
}

.no-todos-container svg {
	width: 150px;
	height: 150px;
}

.no-todos-container p {
	margin-top: 24px;
}

.check-all-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #555b6e;
	margin-top: 24px;
	padding-top: 16px;
	border-top: 1px solid #89b0ae;
}

.other-buttons-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #555b6e;
	margin-top: 24px;
	padding-top: 16px;
	border-top: 1px solid #89b0ae;
}

.button {
	color: #555b6e;
	font-size: 14px;
	background: #ffd6ba;
	border: 1px solid #89b0ae;
	padding: 6px;
	border-radius: 5px;
	cursor: pointer;
}

.button:hover {
	color: #faf9f9;
	background: #89b0ae;
}

.filter-button {
	background: #ffd6ba;
	border: 1px solid #ffd6ba;
}

.filter-button-active {
	border: 1px solid #89b0ae;
	/*font-weight: bolder;*/
}

.name-container {
	margin-bottom: 24px;
}

.name-label {
	margin-top: 16px;
}